/* desktop - hover 1 */

position: relative;
width: 1440px;
height: 3559px;

background: #FFFFFF;


/* contact me */

position: absolute;
width: 1440px;
height: 220px;
left: 0px;
top: 679px;



/* Rectangle */

position: absolute;
width: 1440px;
height: 220px;
left: 0px;
top: 679px;

background: #FFFFFF;


/* button contact */

position: absolute;
width: 200px;
height: 50px;
left: 500px;
top: 797px;

mix-blend-mode: normal;


/* Rectangle 4 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
border-radius: 15px;


/* Contact me! */

position: absolute;
left: 23.5%;
right: 23.5%;
top: 30%;
bottom: 26%;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #FFFFFF;

border-radius: 15px;


/* I am happy to help you with any problem! */

position: absolute;
width: 714px;
height: 43px;
left: 363px;
top: 718px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
/* identical to box height */
text-align: center;
letter-spacing: 0.02em;

color: #222222;



/* gray main rectangle */

position: absolute;
width: 1440px;
height: 785px;
left: 0px;
top: 2691px;

background: #FAFAFF;


/* Rectangle 7 */

position: absolute;
width: 1241px;
height: 621px;
left: 100px;
top: 2765px;

background: #FFFFFF;
box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);


/* Rectangle 7.1 */

position: absolute;
width: 509px;
height: 621px;
left: 100px;
top: 2765px;

background: #FF9A3D;
box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);


/* Polygon */

position: absolute;
width: 47px;
height: 32px;
left: 632px;
top: 2797px;

background: #FF9A3D;
transform: rotate(90deg);


/* Let’s start! */

position: absolute;
width: 684px;
height: 48px;
left: 657px;
top: 2798px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 172.35%;
/* or 62px */
letter-spacing: 0.04em;

color: #222222;



/* ul. Tęczowa 12/3 50-000 +48 123-456-789 night-coding@dev.com */

position: absolute;
width: 204px;
height: 75px;
left: 152px;
top: 3276px;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
letter-spacing: 0.02em;

color: #FFFFFF;



/* Designer Poland, Wrocław */

position: absolute;
width: 149px;
height: 50px;
left: 152px;
top: 3228px;

font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
letter-spacing: 0.02em;

color: #FFFFFF;



/* social media */

position: absolute;
width: 176px;
height: 25px;
left: 152px;
top: 3194px;



/* Vector */

position: absolute;
width: 25.64px;
height: 25px;
left: 252px;
top: 3194px;

background: #FFFFFF;
mix-blend-mode: normal;


/* Group 2.4 */

position: absolute;
width: 25px;
height: 25px;
left: 202px;
top: 3194px;



/* Group */

position: absolute;
left: 14.03%;
right: 84.24%;
top: 89.74%;
bottom: 9.55%;

mix-blend-mode: normal;


/* Ellipse */

position: absolute;
width: 25px;
height: 25px;
left: 202px;
top: 3194px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 12.5px;
height: 12.5px;
left: 208.67px;
top: 3199px;

background: #FF9A3D;
mix-blend-mode: normal;


/* Group 3.2 */

position: absolute;
width: 25px;
height: 25px;
left: 152px;
top: 3194px;



/* Group */

position: absolute;
left: 10.56%;
right: 87.71%;
top: 89.74%;
bottom: 9.55%;

mix-blend-mode: normal;


/* Ellipse */

position: absolute;
width: 25px;
height: 25px;
left: 152px;
top: 3194px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 15.39px;
height: 12.5px;
left: 157px;
top: 3200.67px;

background: #FF9A3D;
mix-blend-mode: normal;


/* Group 2.3 */

position: absolute;
width: 25px;
height: 25px;
left: 303px;
top: 3194px;



/* Group */

position: absolute;
left: 21.04%;
right: 77.22%;
top: 89.74%;
bottom: 9.55%;

mix-blend-mode: normal;


/* Ellipse */

position: absolute;
width: 25px;
height: 25px;
left: 303px;
top: 3194px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 8.59px;
height: 16.67px;
left: 311.33px;
top: 3198.17px;

background: #FF9A3D;


/* Please describe your question. Send me a message and I will answer you as soon as possible! */

position: absolute;
width: 457px;
height: 106px;
left: 152px;
top: 2882px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 172.35%;
/* or 31px */
letter-spacing: 0.04em;

color: #FFFFFF;



/* logo_message */

position: absolute;
width: 68px;
height: 68px;
left: 152px;
top: 2789px;



/* Group */

position: absolute;
left: 23.99%;
right: 0%;
top: 17.9%;
bottom: 21.72%;



/* Group */

position: absolute;
left: 23.99%;
right: 0%;
top: 17.9%;
bottom: 21.72%;



/* Vector */

position: absolute;
left: 23.99%;
right: 0%;
top: 17.9%;
bottom: 21.72%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 13.3%;
right: 73.8%;
top: 74.51%;
bottom: 17.9%;



/* Group */

position: absolute;
left: 13.3%;
right: 73.8%;
top: 74.51%;
bottom: 17.9%;



/* Vector */

position: absolute;
left: 13.3%;
right: 73.8%;
top: 74.51%;
bottom: 17.9%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 5.11%;
right: 85.21%;
top: 53.74%;
bottom: 39.86%;



/* Group */

position: absolute;
left: 5.11%;
right: 85.21%;
top: 53.74%;
bottom: 39.86%;



/* Vector */

position: absolute;
left: 5.11%;
right: 85.21%;
top: 53.74%;
bottom: 39.86%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 0%;
right: 91.66%;
top: 70.69%;
bottom: 23.41%;



/* Group */

position: absolute;
left: 0%;
right: 91.66%;
top: 70.69%;
bottom: 23.41%;



/* Vector */

position: absolute;
left: 0%;
right: 91.66%;
top: 70.69%;
bottom: 23.41%;

background: #FFFFFF;


/* Contact us */

position: absolute;
width: 202px;
height: 29px;
left: 152px;
top: 2709px;

font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 37px;
letter-spacing: 0.02em;

color: #222222;



/* Portfolio */

position: absolute;
width: 1441px;
height: 759.03px;
left: 0px;
top: 1860px;



/* photos */

position: absolute;
width: 1441px;
height: 698.43px;
left: 0px;
top: 1920.61px;



/* work-abroad-unspl */

position: absolute;
width: 529.78px;
height: 346.12px;
left: 0px;
top: 1920.61px;

background: url(work-abroad-unspl.jpg);


/* 20180619_150208-1 */

position: absolute;
width: 391.92px;
height: 346.12px;
left: 529.78px;
top: 1920.61px;

background: url(20180619_150208-1.jpg);


/* 32739439685_8ac3345836_b */

position: absolute;
width: 392.04px;
height: 352.3px;
left: 0px;
top: 2266.73px;

background: url(32739439685_8ac3345836_b.jpg);


/* porady-grafiki_10_u1 */

position: absolute;
width: 1048.96px;
height: 352.3px;
left: 392.04px;
top: 2266.73px;

background: url(porady-grafiki_10_u1.jpg);


/* RAW-BEETROOT-MINT-SALAD-healthy-plant-based-vegan-dairy-free-gluten-free-raw-orange-dressing-carrot-raisins-seeds-easy-recipe-begoodorganics-buffyellen-nutritionist-naturopath-begoodorganics-3 */

position: absolute;
width: 518px;
height: 346px;
left: 922px;
top: 1921px;

background: url(RAW-BEETROOT-MINT-SALAD-healthy-plant-based-vegan-dairy-free-gluten-free-raw-orange-dressing-carrot-raisins-seeds-easy-recipe-begoodorganics-buffyellen-nutritionist-naturopath-begoodorganics-3.jpg);


/* hover 2 */

position: absolute;
width: 1049px;
height: 352px;
left: 392px;
top: 2267px;

background: linear-gradient(180deg, rgba(34, 34, 34, 0.5) 0%, rgba(255, 154, 61, 0.5) 100%);


/* button view */

position: absolute;
width: 100px;
height: 50px;
left: 428px;
top: 2409px;



/* button contact */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

mix-blend-mode: normal;


/* Rectangle 4 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
border-radius: 15px;


/* View */

position: absolute;
left: 28.5%;
right: 28.5%;
top: 30%;
bottom: 26%;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #FFFFFF;

border-radius: 15px;


/* description 2 */

position: absolute;
width: 438px;
height: 31px;
left: 428px;
top: 2344px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.02em;

color: #FFFFFF;



/* title 2 */

position: absolute;
width: 290px;
height: 47px;
left: 428px;
top: 2293px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 47px;
/* identical to box height */
letter-spacing: 0.02em;

color: #FFFFFF;



/* hover1 */

position: absolute;
width: 530px;
height: 346px;
left: 0px;
top: 1921px;

background: linear-gradient(180deg, rgba(34, 34, 34, 0.5) 0%, rgba(255, 154, 61, 0.5) 100%);


/* button view */

position: absolute;
width: 100px;
height: 50px;
left: 36px;
top: 2086px;



/* button contact */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

mix-blend-mode: normal;


/* Rectangle 4 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
border-radius: 15px;


/* View */

position: absolute;
left: 28.5%;
right: 28.5%;
top: 30%;
bottom: 26%;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #FFFFFF;

border-radius: 15px;


/* description 1 */

position: absolute;
width: 438px;
height: 31px;
left: 36px;
top: 1997px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.02em;

color: #FFFFFF;



/* title 1 */

position: absolute;
width: 137px;
height: 47px;
left: 36px;
top: 1946px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 47px;
/* identical to box height */
letter-spacing: 0.02em;

color: #FFFFFF;



/* title - Portfolio */

position: absolute;
width: 1441px;
height: 38px;
left: 0px;
top: 1860px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 38px;
/* identical to box height */
text-align: center;
letter-spacing: 0.02em;

color: #222222;



/* Skills */

position: absolute;
width: 1341px;
height: 430px;
left: 100px;
top: 1387px;



/* gray main rectangle */

position: absolute;
width: 980px;
height: 430px;
left: 461px;
top: 1387px;

background: #FAFAFF;


/* Rectangle 7.1 */

position: absolute;
width: 1239px;
height: 280px;
left: 100px;
top: 1461px;

background: #FFFFFF;
box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.05);


/* Frame */

position: absolute;
width: 166px;
height: 37px;
left: 521px;
top: 1405px;



/* Skills */

position: absolute;
width: 86px;
height: 38px;
left: 0px;
top: 0px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 38px;
/* identical to box height */
letter-spacing: 0.02em;

color: #222222;



/* Line 3.1 */

position: absolute;
width: 196px;
height: 0px;
left: 521px;
top: 1499px;

border: 4px solid #FFC53D;
transform: rotate(90deg);


/* Line 3.2 */

position: absolute;
width: 196px;
height: 0px;
left: 933px;
top: 1499px;

border: 4px solid #FFC53D;
transform: rotate(90deg);


/* icon_frontend */

position: absolute;
width: 110.51px;
height: 82.83px;
left: 683.37px;
top: 1499px;



/* Vector */

position: absolute;
left: 50.7%;
right: 49.06%;
top: 43.97%;
bottom: 55.94%;

background: #515151;


/* Vector */

position: absolute;
left: 51.18%;
right: 48.58%;
top: 43.97%;
bottom: 55.94%;

background: #515151;


/* Vector */

position: absolute;
left: 51.66%;
right: 48.1%;
top: 43.97%;
bottom: 55.94%;

background: #515151;


/* Vector */

position: absolute;
left: 47.82%;
right: 51.94%;
top: 42.36%;
bottom: 57.55%;

background: #515151;


/* Vector */

position: absolute;
left: 48.54%;
right: 50.26%;
top: 42.56%;
bottom: 57.35%;

background: #515151;


/* Vector */

position: absolute;
left: 47.82%;
right: 51.94%;
top: 42.56%;
bottom: 57.35%;

background: #515151;


/* Vector */

position: absolute;
left: 49.98%;
right: 49.54%;
top: 42.56%;
bottom: 57.35%;

background: #515151;


/* Vector */

position: absolute;
left: 49.38%;
right: 49.54%;
top: 42.75%;
bottom: 57.16%;

background: #515151;


/* Vector */

position: absolute;
left: 48.54%;
right: 50.86%;
top: 42.75%;
bottom: 57.16%;

background: #515151;


/* Vector */

position: absolute;
left: 47.82%;
right: 51.94%;
top: 42.75%;
bottom: 57.16%;

background: #515151;


/* Vector */

position: absolute;
left: 48.54%;
right: 50.5%;
top: 42.36%;
bottom: 57.55%;

background: #515151;


/* Vector */

position: absolute;
left: 48.54%;
right: 50.26%;
top: 42.94%;
bottom: 56.96%;

background: #515151;


/* Vector */

position: absolute;
left: 47.82%;
right: 51.94%;
top: 42.94%;
bottom: 56.96%;

background: #515151;


/* Vector */

position: absolute;
left: 49.98%;
right: 49.54%;
top: 42.94%;
bottom: 56.96%;

background: #515151;


/* Vector */

position: absolute;
left: 48.54%;
right: 50.98%;
top: 43.14%;
bottom: 56.77%;

background: #515151;


/* Vector */

position: absolute;
left: 47.82%;
right: 51.94%;
top: 43.14%;
bottom: 56.77%;

background: #515151;


/* Vector */

position: absolute;
left: 49.26%;
right: 50.02%;
top: 43.14%;
bottom: 56.77%;

background: #515151;


/* Vector */

position: absolute;
left: 48.54%;
right: 50.74%;
top: 43.33%;
bottom: 56.57%;

background: #515151;


/* Vector */

position: absolute;
left: 47.82%;
right: 51.94%;
top: 43.33%;
bottom: 56.57%;

background: #515151;


/* Vector */

position: absolute;
left: 49.5%;
right: 49.54%;
top: 43.33%;
bottom: 56.57%;

background: #515151;


/* Vector */

position: absolute;
left: 47.46%;
right: 44.87%;
top: 42.12%;
bottom: 55.55%;

background: #515151;


/* Vector */

position: absolute;
left: 52.14%;
right: 47.62%;
top: 42.26%;
bottom: 57.64%;

background: #515151;


/* Vector */

position: absolute;
left: 52.62%;
right: 47.14%;
top: 42.26%;
bottom: 57.64%;

background: #515151;


/* Vector */

position: absolute;
left: 53.1%;
right: 46.66%;
top: 42.26%;
bottom: 57.64%;

background: #515151;


/* Vector */

position: absolute;
left: 52.02%;
right: 45.35%;
top: 42.6%;
bottom: 57.01%;

background: #515151;


/* Vector */

position: absolute;
left: 52.02%;
right: 47.03%;
top: 43.09%;
bottom: 56.53%;

background: #515151;


/* Vector */

position: absolute;
left: 53.22%;
right: 45.33%;
top: 43.09%;
bottom: 56.82%;

background: #515151;


/* Vector */

position: absolute;
left: 53.22%;
right: 45.33%;
top: 43.24%;
bottom: 56.67%;

background: #515151;


/* Vector */

position: absolute;
left: 53.22%;
right: 45.33%;
top: 43.38%;
bottom: 56.53%;

background: #515151;


/* icon_backend */

position: absolute;
left: 76.46%;
right: 17.78%;
top: 42.12%;
bottom: 55.55%;



/* surface1 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #515151;


/* ui */

position: absolute;
width: 83px;
height: 83px;
left: 271px;
top: 1499px;



/* icon_UxUi */

position: absolute;
width: 83px;
height: 83px;
left: 0.17px;
top: 0px;



/* Vector */

position: absolute;
left: 24.65%;
right: 23.12%;
top: 76.67%;
bottom: 0%;

background: #515151;


/* Vector */

position: absolute;
left: 48.54%;
right: 48.12%;
top: 90%;
bottom: 6.67%;

background: #515151;


/* Vector */

position: absolute;
left: 5.21%;
right: 25.95%;
top: 0%;
bottom: 30%;

background: #515151;


/* Vector */

position: absolute;
left: 56.88%;
right: 3.12%;
top: 6.67%;
bottom: 70%;

background: #515151;


/* Vector */

position: absolute;
left: 63.54%;
right: 29.79%;
top: 13.33%;
bottom: 83.33%;

background: #515151;


/* Vector */

position: absolute;
left: 73.54%;
right: 9.79%;
top: 13.33%;
bottom: 83.33%;

background: #515151;


/* Vector */

position: absolute;
left: 63.54%;
right: 9.79%;
top: 20%;
bottom: 76.67%;

background: #515151;


/* Vector */

position: absolute;
left: 50.21%;
right: -0.21%;
top: 33.33%;
bottom: 20%;

background: #515151;


/* Vector */

position: absolute;
left: 0.21%;
right: 59.79%;
top: 66.67%;
bottom: 8.33%;

background: #515151;


/* Vector */

position: absolute;
left: 6.87%;
right: 84.79%;
top: 81.67%;
bottom: 15%;

background: #515151;


/* Vector */

position: absolute;
left: 18.54%;
right: 66.46%;
top: 81.67%;
bottom: 15%;

background: #515151;


/* Vector */

position: absolute;
left: 0.21%;
right: 79.79%;
top: 6.67%;
bottom: 76.67%;

background: #515151;


/* Vector */

position: absolute;
left: 6.87%;
right: 86.46%;
top: 13.33%;
bottom: 83.33%;

background: #515151;


/* UX/UI */

position: absolute;
width: 297px;
height: 25px;
left: 164px;
top: 1628px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #FFC53D;



/* Front End */

position: absolute;
width: 297px;
height: 25px;
left: 592px;
top: 1628px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #FFC53D;



/* Back End */

position: absolute;
width: 297px;
height: 25px;
left: 994px;
top: 1628px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #FFC53D;



/* Figma */

position: absolute;
width: 297px;
height: 25px;
left: 164px;
top: 1666px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #000000;



/* Html, CSS, JavaScript */

position: absolute;
width: 297px;
height: 25px;
left: 592px;
top: 1666px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #000000;



/* PHP, Node.js */

position: absolute;
width: 297px;
height: 25px;
left: 994px;
top: 1666px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #000000;



/* about me */

position: absolute;
width: 1341px;
height: 430px;
left: 0px;
top: 900px;



/* gray main rectangle */

position: absolute;
width: 980px;
height: 430px;
left: 0px;
top: 900px;

background: #FAFAFF;


/* Rectangle 7 */

position: absolute;
width: 1241px;
height: 280px;
left: 100px;
top: 974px;

background: #FFFFFF;
box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);


/* Frame */

position: absolute;
width: 166px;
height: 37px;
left: 200px;
top: 918px;



/* About me */

position: absolute;
width: 202px;
height: 29px;
left: -48px;
top: 0px;

font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 37px;
letter-spacing: 0.02em;

color: #222222;



/* Mask Group */

position: absolute;
width: 96px;
height: 96px;
left: -48px;
top: 110px;

box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.15);


/* Group */

position: absolute;
width: 96px;
height: 96px;
left: -48px;
top: 110px;



/* Ellipse */

position: absolute;
width: 96px;
height: 96px;
left: -48px;
top: 110px;

background: #C4C4C4;


/* OTSOUE0 */

position: absolute;
width: 105.6px;
height: 97.01px;
left: -52.55px;
top: calc(50% - 97.01px/2 + 137.98px);

background: url(OTSOUE0.jpg);


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. ex ea commodo consequat. */

position: absolute;
width: 639px;
height: 280px;
left: 643px;
top: 974px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 172.35%;
/* or 31px */
display: flex;
align-items: center;
letter-spacing: 0.04em;

color: #222222;



/* Group 5 */

position: absolute;
width: 274px;
height: 181px;
left: 314px;
top: 1024px;



/* Age: 21 Years */

position: absolute;
width: 123px;
height: 29px;
left: 314px;
top: 1062px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 160.86%;
/* identical to box height, or 29px */
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #222222;



/* Profile: Fullstack */

position: absolute;
width: 154px;
height: 29px;
left: 314px;
top: 1100px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 160.86%;
/* identical to box height, or 29px */
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #222222;



/* Telephone: +48 123-456-789 */

position: absolute;
width: 252px;
height: 29px;
left: 314px;
top: 1138px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 160.86%;
/* identical to box height, or 29px */
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #222222;



/* E-mail: night-coding@dev.com */

position: absolute;
width: 274px;
height: 29px;
left: 314px;
top: 1176px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 160.86%;
/* identical to box height, or 29px */
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #222222;



/* Full Name: Designer */

position: absolute;
width: 186px;
height: 29px;
left: 314px;
top: 1024px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 160.86%;
/* identical to box height, or 29px */
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #222222;



/* Line 3 */

position: absolute;
width: 196px;
height: 1px;
left: 617px;
top: 1012px;

border: 4px solid #FFC53D;
transform: rotate(90deg);


/* header */

position: absolute;
width: 1440px;
height: 585px;
left: 0px;
top: 95px;



/* cover photo */

position: absolute;
width: 1440px;
height: 585px;
left: 0px;
top: 95px;

background: url(071281_1920.jpg);


/* cover layer */

position: absolute;
width: 1440px;
height: 585px;
left: 0px;
top: 95px;

background: url(234464-P2E34D-752.jpg);
mix-blend-mode: lighten;


/* social media */

position: absolute;
width: 176px;
height: 25px;
left: 665px;
top: 361px;



/* Vector */

position: absolute;
width: 25.64px;
height: 25px;
left: 765px;
top: 361px;

background: #FFFFFF;
mix-blend-mode: normal;


/* Group 2.4 */

position: absolute;
width: 25px;
height: 25px;
left: 715px;
top: 361px;



/* Group */

position: absolute;
left: 49.65%;
right: 48.61%;
top: 10.14%;
bottom: 89.15%;

mix-blend-mode: normal;


/* Ellipse */

position: absolute;
width: 25px;
height: 25px;
left: 715px;
top: 361px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 12.5px;
height: 12.5px;
left: 721.67px;
top: 366px;

background: #FF9A3D;
mix-blend-mode: normal;


/* Group 3.2 */

position: absolute;
width: 25px;
height: 25px;
left: 665px;
top: 361px;



/* Group */

position: absolute;
left: 46.18%;
right: 52.08%;
top: 10.14%;
bottom: 89.15%;

mix-blend-mode: normal;


/* Ellipse */

position: absolute;
width: 25px;
height: 25px;
left: 665px;
top: 361px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 15.39px;
height: 12.5px;
left: 670px;
top: 367.67px;

background: #FF9A3D;
mix-blend-mode: normal;


/* Group 2.3 */

position: absolute;
width: 25px;
height: 25px;
left: 816px;
top: 361px;



/* Group */

position: absolute;
left: 56.67%;
right: 41.6%;
top: 10.14%;
bottom: 89.15%;

mix-blend-mode: normal;


/* Ellipse */

position: absolute;
width: 25px;
height: 25px;
left: 816px;
top: 361px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 8.59px;
height: 16.67px;
left: 824.33px;
top: 365.17px;

background: #FF9A3D;


/* title */

position: absolute;
width: 507px;
height: 161px;
left: 500px;
top: 172px;



/* Welcome! */

position: absolute;
width: 507px;
height: 118px;
left: 500px;
top: 172px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 100px;
line-height: 117px;
/* identical to box height */
text-align: center;
letter-spacing: 0.02em;

color: #FFC53D;



/* My name is Designer. */

position: absolute;
width: 507px;
height: 45px;
left: 500px;
top: 288px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;



/* navbar */

position: absolute;
width: 1293px;
height: 35.95px;
left: 98px;
top: 48px;



/* About me */

position: absolute;
width: 91.65px;
height: 20px;
left: 957px;
top: 48px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.02em;

color: #515151;



/* Skills */

position: absolute;
width: 51.62px;
height: 20px;
left: 1091.83px;
top: 48px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.02em;

color: #515151;



/* Portfolio */

position: absolute;
width: 86.38px;
height: 20px;
left: 1186.64px;
top: 48px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.02em;

color: #515151;



/* Contact */

position: absolute;
width: 74.79px;
height: 20px;
left: 1316.21px;
top: 48px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.02em;

color: #515151;



/* logo */

position: absolute;
width: 172px;
height: 35.95px;
left: 98px;
top: 48px;



/* logo svg */

position: absolute;
width: 35.95px;
height: 35.95px;
left: 98px;
top: 48px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 6.86%;
bottom: 6.86%;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 6.86%;
bottom: 6.86%;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 6.86%;
bottom: 6.86%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 6.86%;
bottom: 6.86%;

background: #515151;


/* Vector */

position: absolute;
left: 21.19%;
right: 57.6%;
top: 29.8%;
bottom: 49.85%;

background: #515151;


/* Vector */

position: absolute;
left: 41.96%;
right: 41.96%;
top: 21.34%;
bottom: 41.54%;

background: #515151;


/* Vector */

position: absolute;
left: 57.6%;
right: 21.19%;
top: 29.8%;
bottom: 49.85%;

background: #515151;


/* Dev */

position: absolute;
width: 122.78px;
height: 27.65px;
left: 147.22px;
top: 48px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.15em;

color: #515151;



/* Copyrights © 2019 CodersCrew */

position: absolute;
width: 1440px;
height: 18px;
left: 0px;
top: 3510px;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.02em;

color: #A0A0A0;



/* form box */

position: absolute;
width: 639px;
height: 56px;
left: 657px;
top: 2871px;

box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);


/* Rectangle 8.1 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FAFAFF;
border-radius: 15px;


/* Name */

position: absolute;
left: 3.76%;
right: 3.6%;
top: 0%;
bottom: 0%;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;

color: #A0A0A0;



/* form box */

position: absolute;
width: 639px;
height: 56px;
left: 657px;
top: 2944px;



/* Rectangle 8.1 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FAFAFF;
border-radius: 15px;


/* Your e-mail adress */

position: absolute;
left: 3.76%;
right: 3.6%;
top: 0%;
bottom: 0%;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;

color: #A0A0A0;



/* form box */

position: absolute;
width: 639px;
height: 56px;
left: 657px;
top: 3017px;



/* Rectangle 8.1 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FAFAFF;
border-radius: 15px;


/* Topic */

position: absolute;
left: 3.76%;
right: 3.6%;
top: 0%;
bottom: 0%;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;

color: #A0A0A0;



/* form box */

position: absolute;
width: 639px;
height: 180px;
left: 657px;
top: 3090px;



/* Rectangle 8.1 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FAFAFF;
border-radius: 15px;


/* Message */

position: absolute;
left: 3.76%;
right: 3.6%;
top: 0%;
bottom: 0%;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;

color: #A0A0A0;



/* button contact */

position: absolute;
width: 200px;
height: 50px;
left: 780px;
top: 797px;

mix-blend-mode: normal;


/* Rectangle 4 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
border-radius: 15px;


/* Check my CV */

position: absolute;
left: 21.5%;
right: 21.5%;
top: 30%;
bottom: 26%;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #FFFFFF;

border-radius: 15px;


/* button - cv */

position: absolute;
width: 200px;
height: 50px;
left: 500px;
top: 797px;



/* Rectangle 4.1 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 1px solid #FFC53D;
box-sizing: border-box;
border-radius: 15px;


/* Contact me! */

position: absolute;
left: 23.5%;
right: 23.5%;
top: 28%;
bottom: 28%;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #FFC53D;



/* button view hover */

position: absolute;
width: 100px;
height: 50px;
left: 1196px;
top: 3301px;



/* button - cv */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Rectangle 4.1 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 1px solid #FFC53D;
box-sizing: border-box;
border-radius: 15px;


/* Send */

position: absolute;
left: 27.5%;
right: 27.5%;
top: 28%;
bottom: 28%;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #FFC53D;

